/* Global style reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: black;
  margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: #3ccf4e;
  font-family: "VT323", "Press Start 2P", monospace;
  font-size: 5ch;
  text-align: center;
}

#root,
#__next {
  isolation: isolate;
}

/* containers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.container-inner {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

img {
  width: 50px;
  max-width: 100%;
}

input {
  display: none;
}

input.show {
  display: flex;
  color: #3ccf4e;
  background-color: black;
  border: 3px solid #3ccf4e;
  outline: none;
  font-family: "VT323", "Press Start 2P", monospace;
  padding: 10px;
  font-size: 5ch;
}

button {
  border: 2px #3ccf4e;
  border-style: solid;
  background-color: black;
  margin-bottom: 10px;
  cursor: pointer;
}

/* instructions modal */

#instructions-button.hide {
  display: none;
}

#instructions-modal {
  display: none;
  max-width: 50%;
}

#instructions-modal.open {
  display: block;
}

/* Volume icons */

#image-container {
  display: grid;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 100%;
}

#volume-on {
  grid-column-start: first-col;
  grid-row-start: first-row;
  display: none;
}

#volume-on.show {
  display: block;
}

#volume-off {
  grid-column-start: first-col;
  grid-row-start: first-row;
}

#volume-off.on {
  display: none;
}

/* play button */

#play-button.hide {
  display: none;
}

#random-word {
  display: none;
}

#random-word.show {
  display: block;
}

#time-left {
  display: none;
}

#time-left.show {
  display: block;
}

#score {
  display: none;
}

#score.show {
  display: block;
}
