/* Global style reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
  }

html, body {
    height: 100%;
    background-color: black;
    margin: auto;
  }

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: #3CCF4E;
    font-family: 'VT323', 'Press Start 2P', monospace;
    font-size: 5ch;
  }

  #root, #__next {
    isolation: isolate;
  }

/* containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.container-inner {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}



img {
    width: 50px;
    max-width: 100%;
}

input {
    display: none;
    /* to be display flex when shown */
}

button {
    border: 2px #3CCF4E;
    border-style: solid;
    background-color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

/* instructions modal */

#instructions-modal {
    display: none;
    max-width: 50%;
}

#instructions-modal.open {
  display: block;
}





